*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka One;
}
header{
    width: 100%;
    height: 80px;
    background: #FF7DD2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.logo{
    height: 50px;
    width: auto;
}
nav a{
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: white;
    padding: 0 10px;
    text-decoration: none;
}
.usuario, .carrito{
    width: 40px;
    height: 40px;
    margin: 0 12px;
}
.banner{
    width: 100%;
    height: 290px;
    background-color: #CBCBCB;
}
.nuevop{
    line-height: 29px;
    color: #FF7DD2;
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 32px;
}
.productos-nuevos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.producto-nuevo-box{
    border: 1px solid #CBCBCB;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.imagen{
    width: 100%;
    min-height: 250px;
    background-color: #D9D9D9;
}
.textocuadro, .precio{
    font-size: 24px;
    line-height: 29px;
    text-align: center;   
}
.ver-mas{
    background-color: #6F2DBD;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 50%;
    padding: 8px 12px;
    margin: auto;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 12px;
}
.coleccionestitulo .ver-mas{
    margin: 0;
    width: 45%;
    margin-bottom: 0;
}
.textoizquierda{
    font-size: 32px;
    text-align: left;
    padding: 0 50px;
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.texto{
    font-size: 18px;
    
}
.coleccionestitulo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.colecciones-box .coleccionestitulo:nth-child(2n){
    flex-direction: row-reverse;
}
h2{
    color: #FF7DD2;
}
.imagen-producto{
    width: 50%;
    display: flex;
    justify-content: center;
}
.imagen-producto img{
    width: 50%;
    max-width: 100%;
}
.final{
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    margin-top: 100px;
    background: #FF7DD2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: white;
}
.centrado{
    text-align: center;
}
.espacio{
    margin-top: 25px;
}
.cuadrotexto{
    width: 500px;
    height: 40px;
}
.cuadro{
    width: 500px;
    margin: auto;
}
.izquierda{
    text-align: left;
}
.registro{
    width: 180px;
    padding: 8px 16px;
    background-color:#6F2DBD;
    color: white;
    border: 1px solid #6F2DBD;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.txt-cuenta-existente {
    margin-top: 15px;
}
.txt-cuenta-existente a {
    color: #475AFF;
}