*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fredoka One';
    font-weight: 500;
}

.img-producto-landing {
    width: 50%;
    min-height: 250px;
    display: flex;
    justify-content: center;
}
.producto-template, .breadcrumbs{
    padding: 25px;
}
.breadcrumbs nav{
    color: #C7C7C7;
}
.breadcrumbs nav a{
    font-weight: 700;
}
.detalles-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
}
header{
    width: 100%;
    height: 80px;
    background: #FF7DD2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.logo{
    height: 50px;
    width: auto;
}
nav a{
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    color: white;
    padding: 0 10px;
    text-decoration: none;
}
section.breadcrumbs nav a:last-child{
    color: #6F2DBD;
}
section.breadcrumbs nav a {
    color: #C7C7C7;
    font-size: 19px;
}
.usuario, .carrito{
    width: 40px;
    height: 40px;
    margin: 0 12px;
}
.banner{
    width: 100%;
    height: 290px;
    background-color: #CBCBCB;
}
.nuevop{
    line-height: 29px;
    color: #FF7DD2;
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 32px;
}
.productos-nuevos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.coleccion-individual-page .productos-nuevos{
    padding: 15px;
    margin: auto;
    max-width: 90%;
}
.coleccion-individual-page .producto-nuevo-box{
    width: 23%;
    margin-bottom: 20px;
    margin: 10px;
}
.producto-nuevo-box{
    border: 1px solid #CBCBCB;
    padding: 8px;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.producto-nuevo-box .imagen img{
    max-width: 200px;
    align-self: center;
}
.imagen{
    width: 100%;
    min-height: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coleccion-p-txt{
    text-align: center;
    opacity: 0.3;
}
.textocuadro, .precio{
    font-size: 24px;
    line-height: 29px;
    text-align: center;   
    font-weight: 700;
}
.ver-mas{
    background-color: #6F2DBD;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 50%;
    padding: 8px 12px;
    margin: auto;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 12px;
}
.coleccionestitulo .ver-mas{
    margin: 0;
    width: 45%;
    margin-bottom: 0;
}
.textoizquierda{
    font-size: 32px;
    text-align: left;
    padding: 0 50px;
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.texto{
    font-size: 18px;
    
}
.coleccionestitulo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.colecciones-box .coleccionestitulo:nth-child(2n){
    flex-direction: row-reverse;
}
h2{
    color: #FF7DD2;
}
.imagen-producto{
    width: 50%;
    display: flex;
    justify-content: center;
}
.imagen-producto img{
    width: 50%;
    max-width: 100%;
}
.final{
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    margin-top: 50px;
    background: #FF7DD2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: white;
}
.centrado{
    text-align: center;
}
.espacio{
    margin-top: 25px;
}
.cuadrotexto{
    width: 500px;
    height: 40px;
}
.cuadro{
    width: auto;
    max-height: 400px;
    margin: auto;
}
.izquierda{
    text-align: left;
}
.registro{
    width: 180px;
    padding: 8px 16px;
    background-color:#6F2DBD;
    color: white;
    border: 1px solid #6F2DBD;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.txt-cuenta-existente {
    margin-top: 15px;
}
.txt-cuenta-existente a {
    color: #475AFF;
}
div.centrado a {
    color: #FF7DD2;
}
div.centrado p {
    margin-top: 30px;
}
input#btn-login {
    margin-top: 25px;
}
.datos-producto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    font-size: 19px;
}
.div-precio-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}
.BTN-carrito{
    background-color: #6F2DBD;
    border-radius: 5px;
    border: white;
    color: white;
    text-align: center;
    padding: 8px 12px;
    margin: auto;
    text-decoration: none;
}
.precio-producto{
    font-size: 30px;
    font-weight: 800;
}
.gris{
    color:#C7C7C7;
    font-weight: 700;
}
.descripcion-box{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    font-size: 20px;
}
